<footer>
  <div class="footer-container">
    <div class="footer-brand" style="display: flex; align-items: center; gap: 15px;">
      <img src="assets/img/strendsaydamv2.png" alt="SosyalTrend Logo" style="width: 124px;height: 123px;object-fit: contain;">
      
      <div>
        <div class="logo" style="margin-bottom: 5px;">SosyalTrend</div>
        <p style="color:var(--text-muted); font-size:0.9rem; margin: 0;" data-i18n="footerTagline">
          Topluluğunuzla her zaman bir adım önde olun.
        </p>
      </div>
    </div>

    <div class="footer-section">
      <h4 data-i18n="footerMenu">Hızlı Menü</h4>
      <ul class="footer-links">
        <li><a href="index.html" onclick="navigateTo('feed')" data-i18n="navFeed">Anasayfa</a></li>
        <li><a href="profil.html" onclick="navigateTo('profile')"data-i18n="navProfil">Profiliniz</a></li>
        </ul>
    </div>

    <div class="footer-section">
      <h4 data-i18n="footerCorp">Kurumsal</h4>
      <ul class="footer-links">
        <li><a href="hakkimizda.html" data-i18n="footerAbout">Hakkımızda</a></li>
        <li><a href="kariyer.html" data-i18n="footerCareer">Kariyer</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h4 data-i18n="footerSupport">Destek</h4>
      <ul class="footer-links">
        <li><a href="contact.html" onclick="navigateTo('contact')" data-i18n="footerContact">İletişim</a></li>
        <li><a href="yardim.html" onclick="navigateTo('help')" data-i18n="footerHelp">Yardım Merkezi</a></li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <div style="color:var(--text-muted); font-size:0.85rem;">&copy; 2026 <strong>SosyalTrend</strong>. <span data-i18n="footerRights">Tüm Hakları Saklıdır.</span></div>
    <div style="display: flex;gap: 8px;align-items: center;padding: 0px 10px 0 23px;">
        <div class="lang-switcher" style="display:flex; gap:10px; font-size: 0.85rem; font-weight: 600;">
            <span id="lang-tr" onclick="changeLanguage('tr')">TR</span>
            <span id="lang-en" onclick="changeLanguage('en')">EN</span>
        </div>
        <div style="width: 1px; height: 15px; background: var(--border);"></div>
        <i class="fa-solid fa-earth-americas" style="color:var(--text-muted); font-size: 0.9rem;"></i>
    </div>
  </div>
</footer>