<aside>
    
    <div class="glass-card sidebar-profile-card" onclick="navigateTo('profil')" style="
    cursor: pointer;
    padding: 21px;
    text-align: center;
    align-items: center;">
        <img id="sidebarAvatar" src="" style="
    width: 97px;
    height: 99px;
    border-radius: 50%;
    border: 2px solid var(--primary);
    object-fit: cover;">
        <div style="overflow: hidden;">
            <div id="sidebarDisplayName" style="font-weight: 800; font-size: 0.95rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">...</div>
            <div id="sidebarUsername" style="font-size: 0.8rem; color: var(--text-muted);">@...</div>
            <div id="sidebarJoinDate" style="font-size: 0.75rem; color: var(--text-muted); margin-top: 4px;">Kayıt Tarihi: ...</div>
        </div>
    </div>

    <div class="glass-card sidebar-container">
        <div class="sidebar-title" data-i18n="menuTitle"><i class="fas fa-bars"></i> Sosyal Menü</div>

        <a href="index.html" class="menu-style-btn nav-item" id="btn-feed">
            <i class="fa-solid fa-house"></i> <span data-i18n="navFeed">Anasayfa</span>
        </a>
    </div>

    <div class="glass-card sidebar-container">
        <div class="sidebar-title"><i class="fa-solid fa-user"></i> Profil</div>

        <a href="/profil.html" class="menu-style-btn nav-item" id="btn-profilim">
            <i class="fa-solid fa-user"></i> Profilim
        </a>
        <a href="/profil/arkadaslarim.html" class="menu-style-btn nav-item" id="btn-arkadaslarim">
            <i class="fa-solid fa-users"></i> Arkadaşlarım
        </a>
        <a href="/profil/gonderiler.html" class="menu-style-btn nav-item" id="btn-gonderiler">
            <i class="fa-solid fa-feather"></i> Gönderilerim
        </a>
        <a href="/profil/begeniler.html" class="menu-style-btn nav-item" id="btn-begeniler">
            <i class="fa-solid fa-heart"></i> Beğenilerim
        </a>
        <a href="/profil/kayitlar.html" class="menu-style-btn nav-item" id="btn-kayitlar">
            <i class="fa-solid fa-bookmark"></i> Kayıtlarım
        </a>
        <a href="/profil/bildirimler.html" class="menu-style-btn nav-item" id="btn-bildirimler">
            <i class="fa-solid fa-bell"></i> Gelen Bildirimler
        </a>
    </div>

    <!-- blog card separate from social menu -->
    <div class="glass-card sidebar-container">
        <div class="sidebar-title" data-i18n="menuTitle"><i class="fa-solid fa-blog"></i> Blog</div>

        <a href="blog.html" class="menu-style-btn nav-item">
            <i class="fa-solid fa-list"></i>Tüm Yazılar</a>

        <a href="blog.html?mine=1" class="menu-style-btn nav-item">
            <i class="fa-solid fa-user"></i> Yazılarım</a>

        <a href="blog.html?create=1" class="menu-style-btn nav-item">
            <i class="fa-solid fa-plus"></i> Yeni Yazı</a>
    </div>
  </aside>